@import 'defaults';
$height: 40px;
$primary-color : #42a5f5;
$primary-color : #42a4f5da;

body {
  margin: 50px auto;
  width: 800px;
  text-align: center;
  background-color: #f3f3f3;
  font-family: 'Lato', sans-serif;
  // background-color: blanchedalmond;
  // border:10px solid black;
}

h1 {
  margin-bottom: 50px 0;
  padding-bottom: 50px;
  font-family: Lato;
  font-style: italic;
}

#input {
  font-family: inherit;
  width: 400px;
  height: $height;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  padding: 0 10px;
  margin-right: 5px;
}

button {
  font-family: inherit;
  font-weight: bold;
  font-style: italic;
  width: 80px;
  height: $height;
  background-color: $primary-color;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: 5px;
}

table {
  border-collapse: collapse;
  margin: 35px auto 0 auto;
  font-size: 0.9rem;
  border-radius:5px 5px 0 0;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width:800px;
  visibility: hidden;

}

thead tr{
    background-color: $primary-color;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

th, td {
    padding: 12px;
}

tbody tr {
    border-bottom: 1px solid #ddd;
    
    &:last-of-type{
        border-bottom: 2px solid $primary-color;
    }
}

i {
  padding-left: 10px;
  color: $primary-color;
}

img {
  height: 1.5rem;
  padding-left: 10px;
  vertical-align: middle;
}

span {
  height: 15px;
  width: 15px;
  background-color: red;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  border: 1.5px solid black;
}


// Utilities
.show {
    visibility: visible;
  }